@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body{
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100vh;
    padding: 20px;
    background-image: url(../images/pokemon-hd-fazqcs1tmwwte1ap.jpg);
    
}
.image{
    /* background-image: url(../images/wp2513121.png); */
    background-image: url(../images/Background.jpg);
    background-size:cover;

}
label{

    border: 2px solid black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 5px;
    background-color: rgb(175, 175, 245);
    
}
h1{
    background-color: yellow;
    color: rgb(0, 0, 0);
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    border: solid 2px black ;
    border-radius: 20px;
    width: 80%;
}
h2{
    display: inline-block;
    font-size: 35px;
    margin-left: 4rem;
    border: solid 2px black;
    background-color: rgb(255, 255, 255);

}
#result{
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
}
#grid{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:center;
    gap: 0.2rem;

} 
p{
    display: flexbox;
    font-size:52px;
    text-align: center;
    justify-self: unset;
    border: 2px solid coral;
    background-color: cornflowerblue;
}